#jumboindex{
    background-image: url(/img/banner01.jpg);
    background-size: cover;
    color: whitesmoke;
}

.cardserv{
    flex: 1 275px;
    padding: 3px 6px 3px 6px; 
}

footer{
    background-color: blue;
    color: whitesmoke;
}

footer a{
    text-decoration: none;
    color: whitesmoke;
}

footer a:hover{
    text-decoration: none;
    color: whitesmoke;
}

.footer-address-icon{
    padding-right: 10px;
}

#jumboContacto{
    background-image: url(/img/contact.jpg);
    background-position: center;
    background-size: cover;
    color: whitesmoke;
}

.centerbancontact{
    text-align: center;
    font-size: xx-large;
    margin: auto;
    width: 90%;
    border: none;
    padding: 40px 10px 60px 10px;
}
.thead-azul{
    background-color: blue;
    color: white;
}
